/backend/node_modules
/frontend/node_modules
/backend/.pnp
/frontend/.pnp
/backend/.pnp.js
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*