.App {
  /* text-align: center; */
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.flexRow {
  flex-direction: row;
}

.flexCol {
  flex-direction: column;
}

.grow {
  flex: 1;
}

.nowrap {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.textSmaller {
  font-size: 70%;
}

@media (width > 50em) {
  .hideOnLandscape {
    display: none;
  }
  .textLarger {
    font-size: 120%;
  }
  .textLargest {
    font-size: 150%;
  }
}

@media (width <= 50em) {
  .hideOnPortrait {
    display: none;
  }
  .textLargest {
    font-size: 130%;
  }
}

div.countryName {
  width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
